# notebook used for proofing
notebooks
# add few exceptional notebooks and related data
!notebooks/Machine Learning/trading_strategy_1.ipynb
!notebooks/Machine Learning/Bitcoin_Signal_test_data.csv
# resource
resources

# skip large text messages (csv files)
data/01_raw/stocktwits/BTC_stocktwits.csv
data/01_raw/reddit/comments_Bitcoin.csv
data/01_raw/reddit/submissions_Bitcoin.csv



# Environments
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.idea
